.coin-container {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 20px;
  min-width: 50%;
  max-width: 300px;
}

.coin h1 {
  font-size: 16px;
  width: 150px;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.coin-price {
  width: 33.33%;
  max-width: 110px;
  padding-right: 20px;
}

.coin-volume {
  width: 45.33%;
  max-width: 155px;
  padding-right: 20px;
}

.coin-marketcap {
  width: 64.44%;
  max-width: 230px;
  padding-right: 20px;
}

.coin-percent {
  width: 28.89%;
  max-width: 100px;
  padding-right: 20px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

@media only screen and (max-width: 768px) {
  .coin-row {
      flex-direction: column;
      height: auto;
      padding: 16px;
  }
  
  .coin {
      min-width: 100%;
      max-width: none;
      margin-bottom: 16px;
  }
  
  .coin h1 {
      width: auto;
      margin-right: 16px;
  }
  
  .coin-data {
      flex-wrap: wrap;
  }
  
  .coin-price, .coin-volume, .coin-marketcap, .coin-percent {
      width: 100%;
      max-width: none;
  }
}
