@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.coins-app {
  width: 100%;
  min-height: 100vh;
  background-color: #2e2e2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
}

.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: white;
  color: gray;
}

.coin-input::placeholder {
  color: #000000;
}

#search {
  margin: 0 auto;
  display: inline-block;
}

/* Responsive styles for screens smaller than 768px */
@media (max-width: 767px) {
  .coin-input {
    width: 100%;
    max-width: 300px;
  }
}

/* Responsive styles for screens larger than 768px */
@media (min-width: 768px) {
  .coin-search {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .coin-input {
    margin-right: 16px;
    max-width: 400px;
  }
}
